body{
	background-color: lightsteelblue;border: 5px solid dodgerblue;
}
h1{
color: black;font-family: verdana;font-size: 30px ;	
}
h2{
color: blue;font-family: verdana;font-size: 30px ;	
}
marquee{
	color: aquamarine;font-family:serif;font-size: 58px;

